body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    
}

.container{
    width: 250px;
    height: auto;
    background-color: black;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
h1{
    text-align: center;
}
#add-btn{
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
    /* border-radius: 10px; */
    border: 1px solid white;
}

#todo-input{
    padding: 5px;
    color:white;
    background-color: black;
}

#text{
    background-color: rgb(56, 50, 50);
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
}

#list-items{
    background-color: black;
    color: white;
    list-style-type:none;
    padding: 2px;
    margin: 2px;
}
#text ul{
	border: 2px solid white;
	background: black;
	color: white;
	position: relative;
	text-align: left;
	margin-top: 5px;
}

#text ul i{
	position: absolute;
	right: 10px;
	cursor: pointer;
}